<ion-view hide-back-button="true" title="Hyperplanning">
  

  <ion-content scrollbar-y="false" direction="y" class="home" overflow-scroll="false" >

  
    <div ng-hide="displayHome || displayErreur" class="loader"></div>
    <div ng-show="displayHome" class="content" >
      <h3>Check tes horaires IG2ien ! </h3>
      <hr>
      <select ng-change="setClasse(classeselect);init_calendar();" ng-model="classeselect" ng-options="classe for classe in promos">
        <option value="">-- Promotion --</option>
      </select> 
      <p>Choisis une semaine :</p>
      <input type="date" ng-model="dayselect" ng-change="setSemaine(dayselect);init_calendar();"></input>

<br/><hr>
      <h3>Liste des cours </h3>
        <hr>
      
      <div ng-show="isNotEmptyLundi()">
     
    <ul><h4>Lundi ({{lundi_date}}) :</h4>
    <li  ng-repeat="event in lundi"><p><strong> {{event[0][0][1]}}</strong> - M.{{event[1][0][1]}}<br/>{{event.start_time}} - {{event.end_time}} </p>
    </li></ul>
      <hr>
    </div>


    <div ng-show="isNotEmptyMardi()">
    <ul><h4>Mardi ({{mardi_date}}) : </h4>
    <li ng-repeat="event in mardi"><p><strong> {{event[0][0][1]}}</strong> - M.{{event[1][0][1]}}<br/>{{event.start_time}} - {{event.end_time}} </p>
      </li></ul><hr>
</div>

<div ng-show="isNotEmptyMercredi()">
        
    <ul><h4>Mercredi ({{mercredi_date}}) :</h4>
    <li  ng-repeat="event in mercredi"><p><strong> {{event[0][0][1]}}</strong> - M.{{event[1][0][1]}}<br/>{{event.start_time}} - {{event.end_time}}  </p>
      </li></ul><hr>
    </div>



    <div ng-show="isNotEmptyJeudi()">
        
      <ul><h4> Jeudi ({{jeudi_date}}) : </h4>
    <li ng-repeat="event in jeudi"><p><strong> {{event[0][0][1]}}</strong> - M.{{event[1][0][1]}}<br/>{{event.start_time}} - {{event.end_time}} </p>
      </li></ul><hr>
    </div>


    <div ng-show="isNotEmptyVendredi()">
        
      <ul><h4> Vendredi ({{vendredi_date}}) :</h4>
    <li ng-repeat="event in vendredi"><p><strong> {{event[0][0][1]}}</strong> - M.{{event[1][0][1]}}<br/>{{event.start_time}} - {{event.end_time}} </p>
      </li> </ul> <hr>
  </div>


<div ng-show="isNotEmptySamedi()">
    
     <ul><h4>  Samedi ({{samedi_date}}) :</h4>
    <li> ng-repeat="event in samedi"><p><strong> {{event[0][0][1]}}</strong> - M.{{event[1][0][1]}}<br/>{{event.start_time}} - {{event.end_time}} </p>
      </li></ul><hr>
    </diV>



    </div>
  </ion-content>
</ion-view>
